.container {
  padding: 30px;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 30px;
  background-color: #d2f7fe;
  min-height: 80vh;
}

.heading{
  margin: 0 auto;
  max-width: 500px;
  color: black;
  font-size: 3.1rem;
  line-height: 4.1rem;
  font-weight: bold;
  letter-spacing: 1px;
}

.heading span{
  background-clip: text;
  background-image: linear-gradient(to right, #04d3f8, #0d92f1);
  color: transparent;
}

.right img{
  width: 400px;

}